/*
 * Globals
 */
a,
a:focus,
a:hover {
  color: #fff;
}

body {
  height: 100vh;
  background-color: #333;
  font-family: 'Itim', cursive;
  /* text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); */
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

/* 
 * Header 
 */
 .navbar{
  height: auto;
  width: 100%;
  padding-top: 2rem;
  display: block;
}

.navbar-nav1{
  flex-direction: row;
}

/*  
 * Feed
*/
.feed{
  padding-top: 3rem;
  padding-bottom: 5rem;
}

/* 
 * Media Queries 
 */

/* @media screen and (max-width:960px){} */
/* @media screen and (max-width:720px){} */

@media screen and (max-width:540px){

  header a{
    padding: 2rem;
  }

  .navbtn{
    padding-top: 3rem;
  }

  div#about {order: 2;}
  div#contact {order: 3;}
  div#logo {order: 1;}
}

